@model IEnumerable<Hotel_Tamagotchi.Models.ViewModels.RoomViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Reservations</h2>

@foreach (var room in Model.Where(r => r.Room.TamagotchiList.Count != 0))
{
    <h3>Room number: @room.Room.ID</h3>
    foreach (var tamagotchi in room.Room.TamagotchiList)
    {
        <p>@tamagotchi.Name</p>
    }
    <hr />
}

<h2>Free rooms</h2>
<table class="table">
    <tr>
        <th>
            <p>Number</p>
        </th>
        <th>
            <p>Size</p>
        </th>
        <th></th>
    </tr>
    @foreach (var room in Model.Where(r => r.Room.TamagotchiList.Count == 0))
    {
        <tr>
            <td>Room number @room.Room.ID</td>
            <td>@room.Room.Size</td>
            <td>@Html.ActionLink("Reserve", "SelectRoom", new { room_id = room.Room.ID })</td>
        </tr>
    }

</table>
