@model Hotel_Tamagotchi.Models.ViewModels.RoomViewModel 

@{
    ViewBag.Title = "SelectAmount";
}

<h2>Step 1</h2>
<p>Please select the amount of tamagotchis you would like to join the room:</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Room.ID)
    @Html.HiddenFor(model => model.Room.Size)
    @Html.HiddenFor(model => model.Room.Type)

    <div class="col-md-10">
        @Html.DropDownListFor(Model => Model.AmountOfTamagotchis, new SelectList(Model.AmountOfTamagotchisOptions), "Select amount")
        @Html.ValidationMessageFor(Model => Model.AmountOfTamagotchis, "", new { @class = "text-danger" })
    </div>
    <br />
    <input type="submit" value="Next" class="btn-default" />
}
