@model Hotel_Tamagotchi.Models.Tamagotchi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tamagotchi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boredom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boredom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentRoom.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentRoom.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
